.header{
    width: 100%;
    background-color: aquamarine;
    border-bottom: solid 1px hsl(197, 72%, 47%);
}

.menu{
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.logo{
    height: 2rem;
}

.menu li{
    font-weight: 600;
    padding: 5;
    text-align: center;
}